@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

/* Custom Utility */
@layer utilities {
  .primary-gradient {
    background: linear-gradient(to bottom, #8e98ff, #606beb);
    box-shadow: 0px 74px 21px 0px #6678ef00;
  }
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#AB8C95] via-[#000000] to-[#8E97C5];
  }

  .main-section {
    @apply flex flex-col items-center gap-8 pt-12 max-sm:mx-2 mx-15 pb-5;
  }
  .page-heading {
    @apply flex flex-col items-center gap-8 max-w-4xl text-center max-sm:gap-4;
  }

  .resumes-section {
    @apply flex flex-wrap max-md:flex-col max-md:gap-4 gap-6 items-start max-md:items-center w-full max-w-[1850px] justify-evenly;
  }

  .resume-card {
    @apply flex flex-col gap-8 h-[560px] w-[350px] lg:w-[430px] xl:w-[490px] bg-white rounded-2xl p-4;
  }

  .resume-card-header {
    @apply flex flex-row gap-2 justify-between min-h-[110px] max-sm:flex-col items-center max-md:justify-center max-md:items-center;
  }
    .form-div {
    @apply flex flex-col gap-2 w-full items-start;
  }

  .uplader-drag-area {
    @apply relative p-8 text-center transition-all duration-700 cursor-pointer bg-white rounded-2xl min-h-[208px];
  }
  .uploader-selected-file {
    @apply flex items-center justify-between p-3 bg-gray-50 rounded-2xl;
  }

  
}



:root {
  --background: #d90f0f;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}